html {
    overflow-y: auto;
}

.navbar-brand img.brand-logo {
    max-height: 3rem;
}

.jumbotron {
    background-color: #343c3d;
    border-radius: 7px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    padding: 3rem 2rem 3rem 2rem;
}

.jumbotron > .banner {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.jumbotron div.actions-panel {
    padding-top: 2rem;
}

.info-tile {
    padding-bottom: 3rem;
}

.info-tile h2 {
    padding-bottom: 1rem;
}

.info-tile h2 > .icon {
    padding-right: 10px;
}

.app-loader {
    color: #fff;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 30vh;
    opacity: 0.8;
    text-align: center;
}

.app-loader span {
    display: inline-block;
    -webkit-animation: pulse 0.4s alternate infinite ease-in-out;
            animation: pulse 0.4s alternate infinite ease-in-out;
}
.app-loader span:nth-child(odd) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.5;
    }
}
@keyframes pulse {
    to {
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
        opacity: 0.5;
    }
}

.app-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: Consolas, Menlo, Monaco, monospace;
}

.serverbox {
    transition: transform 0.2s ease;
}

.serverbox:hover {
    cursor: pointer;
    transform: scale(1.05);
    z-index: 1;
}

.modal input.is-static {
    color: #f2f2f2;
    cursor: context-menu;
}

.modal textarea.is-static {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    color: #f2f2f2;
    cursor: context-menu;
}

.control.has-icons-left .input.is-static:focus~.icon, .control.has-icons-right .input.is-static:focus~.icon {
    color: #5e6d6f;
}

.tags-input {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    min-height: 2.5em;
    padding: 0;
    position: relative;
    background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    font-size: 1rem;
    justify-content: flex-start;
    line-height: 1.5;
    vertical-align: top;
}

.tags-input .input {
    border-color: transparent;
    box-shadow: none;
    display: inline-block;
    flex: 1 0 auto;
    height: 2.3rem;
    margin: .1rem;
    width: auto;
}

.tags-input .tag {
    font-size: 1rem;
    margin: .1rem;
}

.tags-input .tag:hover {
    cursor: pointer;
}

.modal-loader {
    text-align: center;
}

.modal-loader .button.is-loading {
    background: transparent;
    border: none;
}

.is-shrinkable .level-left,
.is-shrinkable .level-left .level-item,
.is-shrinkable .level-right
.is-shrinkable .level-right .level-item {
    flex-shrink: 1;
}

.codeblock {
    white-space: pre-line;
    padding: 0;
}