<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <NavLink class="navbar-item" href="#" ActiveClass="is-active">
            <img class="brand-logo" src="img/logo.png" width="150 " height="38">
        </NavLink>

        <a role="button" class="navbar-burger burger @(IsExpanded ? "is-active": "")" aria-label="menu" aria-expanded="false" data-target="tunnelNavbar" @onclick="HandleClick">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="tunnelNavbar" class="navbar-menu @(IsExpanded ? "is-active": "")" @onclick="@(_ => IsExpanded = false)">
        <div class="navbar-start">
            <NavLink class="navbar-item" href="/">
                Home
            </NavLink>
        </div>
    </div>
</nav>

@code
{
    bool IsExpanded = false;

    private void HandleClick(MouseEventArgs e)
    {
        IsExpanded = !IsExpanded;
    }
}