<div class="notification is-light is-@NotificationDto.Severity">
    <button class="delete" @onclick="@(async () => await OnClose.InvokeAsync(null))"></button>
    <div class="level is-shrinkable">
        <div class="level-left">
            <div class="level-item">
                <span class="icon @NotificationDto.IconCss">
                    <i class="fas fa-@NotificationDto.Icon"></i>
                </span>
            </div>
            <div class="level-item">
                @((MarkupString) NotificationDto.Message)
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public NotificationDto NotificationDto { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }
}