@inject NavigationManager NavigationManager
@inject ServerService ServerService

<div class="dropdown is-fullwidth @(_isActive ? "is-active" : "")">
    <div class="dropdown-trigger">
        <button class="button is-white" aria-haspopup="true" aria-controls="dropdown-menu" @onclick="@(() => _isActive = !_isActive)">
            <span class="icon is-medium">
                <img src="img/user.svg">
            </span>
            <span>Manage users</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            @foreach (var server in servers)
            {
                <a href="/servers/@server.Id" class="dropdown-item">
                    @server.Name
                </a>
            }
            @if (servers == null || !servers.Any())
            {
                <div class="dropdown-item">
                    <p class="title is-size-6">No servers yet.</p>
                    <p class="subtitle is-size-6">Click 'Manage servers' to get started.</p>
                </div>
            }
        </div>
    </div>
</div>

@code
{
    private bool _isActive;
    private IEnumerable<ServerDto> servers = Enumerable.Empty<ServerDto>();

    protected override async Task OnInitializedAsync()
    {
        servers = await ServerService.GetAll();
    }

    private void GoToServer(ChangeEventArgs e)
    {
        NavigationManager.NavigateTo($"/servers/{e.Value.ToString()}");
    }
}